<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>o2o</title>

    <!-- Bootstrap -->
    <link href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../../css/AdminLTE.min.css" th:href="@{/css/AdminLTE.min.css}" rel="stylesheet">
    <link href="../../temp/assets/css/ie10-viewport-bug-workaround.css" th:href="@{/temp/assets/css/ie10-viewport-bug-workaround.css}" rel="stylesheet">
    <link href="../../temp/dashboard.css" th:href="@{/temp/dashboard.css}" rel="stylesheet">
    <script src="../../temp/assets/js/ie-emulation-modes-warning.js" th:href="@{/temp/assets/js/ie-emulation-modes-warning.js}"></script>
    <script src="../../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../../js/jquery-form.js" th:src="@{/js/jquery-form.js}"></script>
    <script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div id="header" class="col-sm-12 col-sm-offset-12">
            <div th:replace="fragments/header::header"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul id="menuList" class="nav nav-sidebar">
                <li class="active"><a th:onclick="|showShopList();|">商铺列表</a></li>
                <li><a th:onclick="|showShopAdd();|">商铺添加</a></li>
            </ul>
        </div>
        <div class="col-sm-7 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="mainView">
        </div>
    </div>
    <div class="row">
        <div id="footer" class="col-sm-12">
            <div th:replace="fragments/footer::footer"></div>
        </div>
    </div>
    <div id="shopAddView">
    </div>
    <div id="shopEditView"></div>
</div>
</body>
</html>
<script th:inline="javascript">
    function showShopAdd() {
        $.ajax({
            type: "POST",
            url: /*[[@{/shop/toShopAdd}]]*/"",
            timeout: 10000,
            dataType: "html",
            beforeSend: function () {
                $("#mainView").empty();
            },
            success: function (data) {
                $("#mainView").html(data);
            }
        });
    }
    function showShopList() {
        $.ajax({
            type: "POST",
            url: /*[[@{/shop/toShopList}]]*/"",
            timeout: 10000,
            dataType: "html",
            beforeSend: function () {
                $("#mainView").empty();
            },
            success: function (data) {
                $("#mainView").html(data);
            }
        });
    }
    $("#menuList li").click(function () {
        $("#menuList li").each(function (i,obj) {
            $(obj).removeClass("active");
        });
        $(this).addClass("active");
    })
    $(function () {
        showShopList();
    });
</script>